body{
  color:whitesmoke;
  background: black;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  margin: 0%;
}
body ul li {
  text-decoration: none;
  display: inline-block;
  font-size:115%;
  line-height: 26px;
}
body ul li a {
  color: gainsboro;
  padding: 8px;
  text-align: right;
  margin-right: 25px;
  text-decoration: none;
}
body ul {
  text-align: right;
}
body ul li a:hover{
  color:red;
}
body p.sinopse{
  margin-right: 15%;
  margin-left: 15%;
  line-height: 40px;
  text-align: justify;
  font-size: 120%;
}
body p.sinopse a{
  color: rgb(255, 0, 55);
  text-decoration:none;
  font-weight: bolder;
}
body p.sinopse a:hover{
  font-size: 130%;
}

header nav{
  height: 60px;
  line-height: 1.1rem;
  padding: 0 1.25rem;
  position: fixed;
  width: 100%;
  top: 0%;
}
section h1{
  background-attachment: fixed;
}
header nav ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: right;
  padding-right: 5%;
}
body h1{
    margin-top: 0%;
    height: 150px;
    line-height: 120px;
    text-align: center;
    font-size: 500%;
    color:whitesmoke;
}
.rm img{
  width: 100%;
  height: auto;
  margin-top: -10px;
  margin: 0% 0%;;
  margin-bottom: 0%;
}
.first{
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 20px;
  width: 100%;
  height: 0px;
  margin: 2px;
}
.spc{
  border-color: black;
  height:50px;
}
table{
  margin:auto;
}
th, td{
  border-color: rgb(185,184, 184);
  width: 500px;
  height: 70px;;
  text-align: center;
}
table thead th {
  border-bottom: 3px solid;
}
table tbody tr {
  border-bottom: 1px solid ;
}
table tbody tr{
  background-image: linear-gradient(green, rgba(79, 0, 170, 0.637));
  background-attachment: fixed;
}
form{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
fieldset{
  text-align: center;
  height: 350px;
  width: 500px;
  border-width: 2px;
  background-attachment: fixed;
}
fieldset div{
  height: 50px;
}
form > input{
  border-radius: 20px;
  color:whitesmoke;
  background-attachment: fixed;
}
form input[type="text"]{
  width: 60%;
  height: 30px;
}
form textarea {
  width: 80%;
}
textarea, form input[type="text"]{
  border-radius: 20px;
  background-color: whitesmoke;
}

.container {
  align-content: center;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  repeat(2, 1fr); */
  grid-gap: 1rem;
  margin: 20px;
}
.characters{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  row-gap: 20px;
  column-gap: 20px;
}
div.container> div{
      background-color: black;
      color: whitesmoke;
      text-align: justify;
      margin-bottom: 10px;
      padding: 25px;
}
.item{
    text-align: left;
    font-size: 120%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(17, 6, 36, 0.856), rgba(0, 16, 236, 0.637));
    background-attachment: fixed;
  }

.item img{
  transition: transform 1s;
  will-change: scale;
  margin-right: 20px;
  float: left;
  height: 150px;
  width: 150px;
  border-radius: 10%;
}
p.desc{
  color: whitesmoke;
  text-align: center;
  margin-top: 5px;
}
.fil{
  width: 80%;
  text-align: justify;
  font-size: 120%;
  border-radius: 50px;
  margin-right:5%;
  margin-left:5%;
  margin-bottom: 30px;
  background-image: linear-gradient(rgba(250, 16, 8, 0.856), rgba(3, 15, 182, 0.637));
  background-attachment: fixed;
  transition: transform 0.01s;
}
.fil:hover{
  color: whitesmoke;
  font-weight: 200;
  transform: scale(1.04);
  
}
.containerF {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  1fr;
  grid-gap: 1rem;
  margin: 20px;
  margin-top: 70px;
}
div.containerF> div{
      background-color: black;
      color:whitesmoke;
      border: 1px solid  whitesmoke;
      text-align: justify;
      margin-bottom: 10px;
      padding: 25px;
}
.footer{
    margin-bottom: 0%;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 30px;
}
.social{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}
.social i{
    transition: transform 1s;
    will-change: scale;
    margin-left: 15px;
    margin-right: 15px;
}
.social i:hover{
  transform: scale(1.3);
 color: rgb(29, 218, 161);
}
footer{
  background-image: url(../images/I1.jpg);
  color: whitesmoke;
}
div.item6 img{
    width: 100%;
    height: auto;
}
@media screen and ( max-width: 1250px){
  .containerF{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
  }
}
@media screen and ( max-width: 1200px){
  .containerF{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows:  repeat(3, 1fr);
      justify-items: center;
  }
  .container{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows:  repeat(3, 1fr);

  }
}
  @media screen and ( max-width: 950px){
      .containerF{
          grid-template-columns: 1fr;
          grid-template-rows:  repeat(6, 1fr);
          justify-items: center;
      }
      }
@media screen and ( max-width: 720px){
  header nav{
      line-height: 1.1rem;
      height: 200px;
      opacity: 0;
      transition: opacity 1s;
      will-change: opacity;
      z-index: 1;
    }
    header nav:hover{
       opacity: 1;
    }
  header nav ul{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
      justify-items: center;
      padding-left: 0%;
      padding-right: 0%;
    }
  nav ul li {
      line-height:35px;
      color: orange;
      padding-left: 15px;
  }
  form{
      display: flex;
      flex-direction: column;
  }
  form fieldset{
      margin: 0% 5%;
      width: 80%;
  }
  form input{
      text-align: center;
      height: 50px;
      width:85%;
      margin: 0% 5%;
  }
  .container{
      grid-template-columns: 1fr;
      grid-template-rows:  repeat(6, 1fr);
  }
  iframe {
      width: 90%;
      height: 300px;
      margin: 0 3% ;
  }
  .rm img{
      margin-top: 180px;
      margin-bottom: 250px;
  }
  .personagens{
      font-size: 400%;
  }
  .item6 img{
      padding-top: 50px;
  }
  }
@media screen and (min-width: 720px){
      nav ul  {
          padding-left: 20%;
      }
      iframe{
          height:400px;
          width: 65%;
          margin: 0 16%;

      }
    }
  
@media screen and (min-width: 950px){
  nav ul  {
      padding-left: 35%;
  }
}

@media screen and (min-width: 1150px){
  nav ul  {
      padding-left: 50%;
  }
}
.elem{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.pala{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
.form-control{
  border:2px,solid, green;
  font-style: oblique;
  width: 250px;
  height: 50px;
}
.botaok{
  color: whitesmoke;
  width: 250px;
  height: 50px;
  background-attachment: fixed;
}
.botaok:hover{
  cursor: pointer;
}
.but:hover{
  cursor: pointer;
}
img{
  animation: rick 2.69s;
}
@keyframes rick{
  from{
    opacity: 0;
    transition: opacity 2.69s;
  }
  to{ 
    opacity: 1;
  }
}
header ul{ 
  animation: passar 1.5s;
}
@keyframes passar {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateX(0px);
  }
}
